{% extends "layout.html" %}
{% block title %} Admin Login {% endblock title %}
{% block nav %}
<ul class="navbar-nav text-center ms-auto">
    <li>
        <a href="{{ url_for('home') }}" class="nav-link">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Login
        </a>
    </li>
    <li><a href="#" class="nav-link">About us</a></li>
    <li>
        <a href="#" class="nav-link">
            <i class="fa fa-phone" aria-hidden="true"></i> Contacts
        </a>
    </li>
</ul>
{% endblock nav %}
{% block body %}
    <div class="login-form card p-4">
        <div class="p-2 text-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert-{{ category }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form action="{{ url_for('admin_login') }}" method="post" >
            <h5 class="border-bottom pb-3">
                Admin Login
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </h5>
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-group">
                    {{ form.username.label(class="label") }}
                    {{ form.username(class="form-control", placeholder="Example", autofocus='true') }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="label") }}
                    {{ form.password(class="form-control", placeholder="****") }}
                </div>
                <div class="d-grid gap-2 mt-2">
                    {{ form.login(class="btn btn-danger") }}
                </div>
                <small class="text-muted mt-2">Forgot password? Click <a href="#">here</a></small>
            </fieldset>
        </form>
    </div>
{% endblock body %}